main.textContent {
    width: 80%;
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

main.textContent p {
    margin: 10px 0;
}

main.textContent a {
    text-decoration: underline;
}

main.textContent h1 {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    color: var(--green);
}

main.textContent h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 15px 0;
    color: rgb(53, 53, 53);
}

main.textContent code {
    font-size: 15px;
}

main.textContent ul {

    list-style: disc;
    margin-left: 25px;
}

main.textContent ol {
    list-style: decimal;
    margin-left: 25px;

}